<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Sign in - URL Shortener</title>

    <link rel="stylesheet" href="{{ url_for('static', path='login.css') }}" />
  </head>

  <body class="login-page">
    <!-- <header class="login-header">
      <a href="/" class="login-logo"> URL Shortener </a>
    </header> -->

    <main class="login-container">
      <div class="login-box">
        <h1>Sign in to URL Shortener</h1>

        <p class="login-description">Choose an account to continue.</p>

        <div class="social-login">
          <a href="/login" class="social-button">
            <img src="{{ url_for('static', path='git.svg') }}" alt="GitHub" />
            <span>Continue with GitHub</span>
          </a>

          <a href="/login/google" class="social-button">
            <img src="{{ url_for('static', path='goog.svg') }}" alt="Google" />
            <span>Continue with Google</span>
          </a>
        </div>
      </div>
      <p class="site-credit">
        <a
          href="https://raghavsethi.in"
          target="_blank"
          rel="noopener noreferrer"
        >
          raghavsethi.in
        </a>
      </p>
    </main>
  </body>
</html>
